<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dawnyu.maple.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.dawnyu.maple.bean.Category">
        <id column="id" property="id"/>
        <result column="cate_name" property="cateName"/>
        <result column="create_date" property="createDate"/>
    </resultMap>
    <select id="getAllCategories" resultMap="BaseResultMap">
        SELECT * FROM category
    </select>
    <delete id="deleteCategoryByIds">
        DELETE FROM category WHERE id IN
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
    <update id="updateCategoryById" parameterType="com.dawnyu.maple.bean.Category">
        UPDATE category SET cate_name=#{cateName} WHERE id=#{id}
    </update>
    <insert id="addCategory" parameterType="com.dawnyu.maple.bean.Category">
        INSERT INTO category SET create_date=#{createDate},cate_name=#{cateName}
    </insert>
</mapper>